.centers {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(90deg, #F89975
    50%, #ffffff 50%);
}

.welcome {
    color: #0091E6;
    font-size: larger;
}
